<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <ul class="error-messages">
                    <% if @article.errors.any? %>
                        <% @article.errors.each do |error| %>
                           <li><%= error.full_message %></li>
                        <% end %>
                    <% end %>
                </ul>
                <%= form_with model: @article, local: true do |form| %>
                    <div class="form-group">
                        <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Article Title" %>
                    </div>
                    <div class="form-group">
                        <%= form.text_field :about, class: "form-control", placeholder: "What's this article about?" %>
                    </div>
                    <div class="form-group">
                        <%= form.text_area :description, class: "form-control", rows: 8, placeholder: "Write your article (in markdown)" %>
                    </div>
                    <div class="form-group">
                        <input type="text" id="tag_input" class="form-control" placeholder="Enter tag">
                        <div id="tag-list">
                            <% @article.tags.each do |tag| %>
                                <span class="tag-default tag-pill">
                                    <%= tag.name %> <i class="ion-close-round remove-tag"></i>
                                </span>
                            <% end %>
                        </div>
                        <%= form.hidden_field :tag_name, value: @article.tags.map(&:name).join(','), id: 'article_tag_names_hidden' %>
                    </div>
                    <%= form.submit "Publish Article",class: "btn btn-lg pull-xs-right btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
<% content_for :add_Article_tags_js do %>
  <%= javascript_include_tag "articles_script" %>
<% end %>
</div>