<!DOCTYPE html>
<html>

<head>
    <title>HelloApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//demo.productionready.io/main.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "articles", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body>
    <header>
        <nav class="navbar navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/">conduit</a>
                <ul class="nav navbar-nav pull-xs-right">

                <% if logged_in? %>
                    <li class="nav-item">
                        <%= link_to "logout", session_path(session[:user_id]), data: { turbo_method: :delete, data_confirm: "ログアウトします。よろしいでしょうか?" }, class: "nav-link" %> 
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Home", articles_path, class: "nav-link active" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign in", new_session_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign up", new_user_path, class: "nav-link" %>
                    </li>
                <% end %>
                </ul>
            </div>
        </nav>
    </header>
    <div class="error-messages">
        <% if flash[:notice] %>
            <p class="alert alert-success"><%= flash[:notice]%></p>
        <% end %>
        <% if flash[:alert] %>
            <p class="alert alert-danger"><%= flash[:alert]%></p>
        <% end %>
    </div>
    <%= yield %>
    <%= yield :add_Article_tags_js %>
</body>

</html>